<!-- Esta vista por los momentos no hace nada (no se elimino por seguir convenciones) -->

<%= link_to 'Pagina de preguntas', ask_index_path %>
<!-- <%= link_to 'Edit', edit_ask_path(@ask) %> -->
<p>
  <strong>Campo:</strong>
  <%= @ask.campo %>
</p>
