<div class="panel panel-info">
  <div class="panel-heading">Datos de la Cuenta</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        E-Mail:<br>
        Contraseña:
      </div>
      <div align="right" class="col-xs-6">
        <%= current_user.email %><br>
        ****************
      </div>
    </div>
  </div>
</div>