
<style media="screen">
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #333;
        background-image: url(/assets/fondo_happy_pets.png) ;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .list-group-item {
        padding: 10px !important;
        margin-top: 1px !important;
        font-family: Helvetica, Arial, sans-serif !important;
        color: #555;
    }

    .glyphicon-home {
        font-size: 30px !important;
        color:#2bb8ff !important;
        padding-right: 4px !important;
    }
    
    .title{
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif !important;
        color: #555 !important;
        padding: 10px !important;
    }
    .tipsTitle h1 {
        font-family: PuppyBellies !important;
        font-size: 50px;
        color: #0BA9F9 !important;
        margin-bottom: 20px !important;
    }

    .subtitle{
        color: #0BA9F9 !important;
        margin-bottom: 20px !important;
    }
    .well{
        font-family: Helvetica, Arial, sans-serif !important;
        color: #555;
    }
</style>

<div id="tips">
    <%# TITULO %>
    <div class="container">
        <div class="text-center tipsTitle">
            <h1>Detalles del Hogar </h1> 
            <p>Los hogares temporales permiten resguardar animales en situación extrema. A pesar de la gran cantidad de animales en situación de calle, los hogares temporales son una necesidad para aquellos casos que requieren medicación, rehabilitación o cuando se trata de mascotas que han sido abandonadas y no saben cómo sobrevivir en la vía pública.</p>
        </div>
    </div>

    <%# HOGAR TEMPORAL %>
    <div class="container">
        <div class="well">
            <div class="media card">
                <div class="card-body">
                    <div class="text-muted title"><i class="glyphicon glyphicon-home"> </i> Alojamiento de <strong>Julio Armando del Carmen</strong></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item h5"> Especie de la mascota que recibe: <strong>Canino / Felino</strong>
                    </li>
                    <li class="list-group-item h5"> Tipo de Vivienda:  <strong>Casa / Apto / Terreno</strong>
                    </li>
                    <li class="list-group-item h5"> Servicios que Ofrece: <strong>Hospedaje / Comida / Medicinas </strong>
                    </li>
                    <li class="list-group-item h5"> Características de la mascota que puede alojar:  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate</strong>
                    </li>
                    <li class="list-group-item h5"> Aloja Mascotas adicionales:  <strong>Si / No. Especifique especie, sexo, edad y carácter. </strong>
                    </li>
                    <li class="list-group-item h5"> Tiempo puede recibir en hogar temporal a la mascota: <strong>4 mese maximo </strong>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <%# SUBTITULO %>
    <div class="container">
        <h3 class="media-heading subtitle">Comentarios y Valoraciones del Hogar Temporal</h3>
    </div>

    <%# COMENTARIOS %>
    <div class="row">
        <div class="container">
            <div class="well">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"><strong>Usuario 1</strong></h4>
                        <p class="text-right">By Roberto</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                            Aliquam in felis sit amet augue.
                            </p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <%# <% (0..pension.qualification.to_i-1).each do |i| %> 
                                    <img src="/images/dog-bone2.png" alt="">
                                <%# <% end %> 
                            </li>
                            <li>|</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="well">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Usuario 1</h4>
                        <p class="text-right">By Roberto</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                            Aliquam in felis sit amet augue.
                            </p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <%# <% (0..pension.qualification.to_i-1).each do |i| %> 
                                    <img src="/images/dog-bone2.png" alt="">
                                <%# <% end %> 
                            </li>
                            <li>|</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




