<footer>

  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
          <h2>Centro de Atención</h2>
          <p>Para mayor información comunicate con nosotros</p>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
          <h2>Información de Contacto</h2>
          <ul>
            <li><i class="fa fa-home fa-2x"></i>  Final Av. Teherán, Urb. Montalbán, Caracas 1020 Apdo. 20.332, Venezuela</li>
            <hr>
            <li><i class="fa fa-phone fa-2x"></i> + 58 0212-4076123</li>
            <hr>
            <li><i class="fa fa-envelope fa-2x"></i> fundacionpabigo.ucab@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/#contact-->
  <%= render 'layouts/ad'%>

  <div class="social-icon">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <ul class="social-network">
          <h2>Siguenos en nuestras redes sociales</h2>
          <li><a href="https://www.facebook.com/fundacionpabigo/?modal=admin_todo_tour" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i> Fundación Pabigo</a></li>
          <li><a href="https://twitter.com/Pabigove" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i> @pabigove</a></li><br>
          <li><a href="https://www.instagram.com/pabigoucab/?hl=es-la" class="instagram tool-tip" title="Instagram"><i class="fa fa-instagram"></i> @pabigoucab</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="copyright">
      &copy; Bikin Theme. All Rights Reserved.
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bikin
        -->
        <a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by BootstrapMade
      </div>
    </div>
  </div>
</footer>
