<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @temporal_home.user.profile.name %></h1>
    <p>
      Tu solicitud para ser <%= @request %> ha sido <%= @approved %>.
    </p>
    <p>
    	Gracias por usar nuestra página web, no dudes en contactarnos por cualquier duda que tengas.
    </p>
  </body>
</html>
