<div class="row">
<div class="col-md-12">
  <h4>
      <strong>Fotos</strong>      
  </h4>
</div>
</div>

<div class="row">
<div class="col-md-12 ">
  <h4>
      <strong>Nombre</strong>
  </h4>
</div>
</div>

<div class="row">
<div class="col-md-12 ">
  <h4>
      <strong>Red Social</strong>
  </h4>
</div>
</div>

<div class="row">
<div class="col-md-12 ">
  <h4>
      <strong>Correo</strong>
  </h4>
</div>
</div>

<div class="row">
<div class="col-md-12 ">
  <h4>
      <strong>Descripción</strong>
  </h4>
</div>
</div>







