.show-body{

  background-image: url(http://pre00.deviantart.net/32a2/th/pre/i/2017/030/b/a/blue_and_yellow_border_design____version_2___right_by_vahntreorr-dax8x18.jpg) ;
  background-repeat: no-repeat;

  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container22{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen-show{
  display: flex;
}

.index-body{
  background-image: url(https://www.xmple.com/wallpaper/white-blue-yellow-penta-gingham-green-striped-1920x1080-c5-191970-1e90ff-32cd32-ffdab9-f5fffa-l-89-a-180-f-16.svg) ;
  background-repeat: no-repeat;

  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.pagi-requ{
  display: flex;
  justify-content: center;
  background: antiquewhite;
}

.f-principal{
  background: #646572;
}

footer.nana{

  margin-top: 41px;
  width: 573px;
  background: #646572;


}



.linke{
    color: white;
    background: #646572;
    font-size: 20px;
    padding: 4px;
    border-radius: 28px;
}

a.linke{
  text-decoration: none;
  padding: 0;
}

.solili{
  border-top: 3px solid #eeeeee;
}

.sasa{

    color: white;
    font-weight: bold;

}

.pe-ga{
  display: flex;
  justify-content: center;
}

footer{
  margin-top: 24px;
  background: #d0a779;
  height: 86px;
  -webkit-border-radius: 98px 98px 98px 98px;
    margin-bottom: 28px;
    padding-bottom: 0px;

    width: 877px;
    height: 89px;

}

.footer-2{
  display: flex;
  justify-content: center;
}

.imagen{
  width:350px;
  height:200px;
  margin: 10px;
}

h1{
  font-family: cursive;
  font-size: 3em;
  border-bottom: 2px solid #888888;
  border-right: 2px solid #888888;
  width: 540px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
  width: 526px;


}

.milagro{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;


}


.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}

article.event{
  width: 400px;
}

hr{

    margin-bottom: 11px;
    width: 223px;
    height: 0px;

}


.event-detail {
  margin: 18px 18px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
  padding-top: 9px;

}

.event-description {
  text-align: left;
  margin-top: 8px;
  text-align: -webkit-center;
}

h3{
  background: #646572;
  color: white;
  text-align: center;
  margin: 0;
  max-width: 500px;
  padding: 10px 8px;
}

article.event{
  width: 330px;
}

.event-image{
  width: 400px;
  height: 200px;
  transition: all 1s;
}

.event-image:hover{
  transform: scale(1.1);
}


// SHOw  ////////////////////////////////////////

.titulo-show{
  display: flex;
  justify-content: center;
  font-size: 3em;

}

form.simple_form.request{
  background: #646572;

}

div.titulo-f{
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: white;
}

#event-show{
  width: 620px;
}

.fuerte{

}

#justify{
  text-align: justify;
  font-size: large;
  padding-right: 0px;
  margin-right: 35px;
  margin-left: 19px;


}

p{
  margin-top: 10px;
}

.show{
  width: 602px;
  height: 420px;
}

.tishow{
  font-size: 60px;
}

.title-show{
    width: 527px;
    max-width: 555px;
}


.no-available{
  width: 329px;
}

.linke{

    background: #646572;
    color: white;
    padding: 5px;
    border-radius: 37px;
    font-size: 18px;

}

a.linke{

    padding: 8px;

}

.acomo2{
  margin: 5px;
  color: white;
  background: #646572;
  font-size: 15px;
  padding: 6px;
  border-radius: 37px;
  text-decoration: none;


}

.acomodar{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;

}

.acomo3{
  color: white;
  text-decoration: none;
}

a.acomo3{

    text-decoration: none;

}
