<div class="form-inputs">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="login-content card">
              <div class="card-header">
                <h4 class="m-b-0 text-white" style="text-align: center;"><font color="#455a64"><b>dsfsdsf</font></b></h4>
                <div class="login-form">
                 <b> titulo</b>
                  <font color="#455a64"><b>CUERPO DE LA NOTICIA *</b></font><br>
                 b> titulo</b>
                  <font color="#455a64"><b>FECHA DE PUBLICACIÓN *</b></font><br>
                b> titulo</b>
                  <div class="form-actions">
                   
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
